* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #0056b3, #007bff, #24243e);
    color: #333;
}

.voltar{
    padding: 10px 20px;
    background-color:#009bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    top: 65px;
    left: 170px;
    
}

.container 
{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    color: #93c9ff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.link-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link-item {
    background-color: #dfdcdc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #009bff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    margin-bottom: 15px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color:#009bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #047ac9;
}
